<header>
  <h1><a href="/">P, R, S: Showdown</a></h1>
  <a href ="/rules">View Rules</a>
  <a href ="/stats">View Stats</a>
  <a href ="/about">About P,R,S: Showdown</a>
  <p></p>
  <form action="/" method="get">
    <button action="submit" id="log_out">Log Out</button>
  </form>
</header>
