<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - Game</title>
  <link rel="stylesheet" href="styles/style.css">
 </head>

<body>
  <% include global/header.ejs %>
  <p>
  <form action="/" method="get">
    <button type="submit" id = "log_out_button">Log out</button>
  </form>
  <% if (message3) { %>
  <div id="feedback" class="visible">
    <p>Enter weapon and villain choice!</p>
  </div>
  <% } %>
  <div id="throw_choice">
      <h2>Play the Game</h2>
      <h4><%=user.name%>, it's your turn to bust a move!</h4>
      <form action="<%=user.name%>/results" method="get">
        Enter your choice of weapon:<br>
        <select name="weapon">
          <option value="blank"></option>
          <option value="paper">Paper</option>
          <option value="rock">Rock</option>
          <option value="scissors">Scissors</option>
        </select><br><br>
        Choose your opponent<br>
        <select onchange="myFunction()" id="villain_choice" name="villain_choice">
          <option value="blank"></option>
          <%for (var i=0; i< villain.length; i ++){%>
            <option value=<%=villain[i].name%>> <%=villain[i].name%> </option>
          <%}%>
        </select>
        <br><br>
        <img src=" " id="waiting_hand" style="width:200px;height:200px;">
        <script>
        function myFunction() {
          var dropdown_choice = document.getElementById("villain_choice").value;
          if(dropdown_choice=="Boss"){ document.getElementById("waiting_hand").src = "../images/the_boss_waiting.svg"; }
          else if(dropdown_choice=="Bones"){ document.getElementById("waiting_hand").src = "../images/bones_waiting.svg"; }
          else if(dropdown_choice=="Comic"){ document.getElementById("waiting_hand").src = "../images/comic_hans_waiting.svg"; }
          else if(dropdown_choice=="Gato"){ document.getElementById("waiting_hand").src = "../images/gato_waiting.svg"; }
          else if(dropdown_choice=="Harry"){ document.getElementById("waiting_hand").src = "../images/harry_waiting.svg"; }
          else if(dropdown_choice=="Manny"){ document.getElementById("waiting_hand").src = "../images/manny_waiting.svg"; }
          else if(dropdown_choice=="Mickey"){ document.getElementById("waiting_hand").src = "../images/mickey_waiting.svg"; }
          else if(dropdown_choice=="Mr"){ document.getElementById("waiting_hand").src = "../images/mr_modern_waiting.svg"; }
          else if(dropdown_choice=="Pixie"){ document.getElementById("waiting_hand").src = "../images/pixie_waiting.svg"; }
          else if(dropdown_choice=="Regal"){ document.getElementById("waiting_hand").src = "../images/regal_waiting.svg"; }
          else if(dropdown_choice=="Spock"){ document.getElementById("waiting_hand").src = "../images/spock_waiting.svg"; }
          else if(dropdown_choice=="Boss"){ document.getElementById("waiting_hand").src = "../images/the_boss_waiting.svg"; }
          else if(dropdown_choice=="Magician"){ document.getElementById("waiting_hand").src = "../images/the_magician_waiting.svg"; }
        }
        </script>
        <br><br>
        <button type = "submit" id="throw_choice_button">Throw Choice</button>
      </form>

    </div>
  <% include global/footer.ejs %>
  <script src="scripts/scripts.js"></script>
 </body>
</html>
