<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - Game</title>
  <link rel="stylesheet" href="styles/style.css">
 </head>

<body>
  <% include global/header.ejs %>

  <% if (message3) { %>
  <div id="feedback" class="visible">
    <p>Enter weapon and villain choice!</p>
  </div>
  <% } %>
  <div id="throw_choice">
      <h2>Play the Game</h2>
      <h4><%=user.name%>, it's your turn to bust a move!</h4>
      <form action="<%=user.name%>/results" method="get">
        Enter your choice of weapon:<br>
        <select name="weapon">
          <option value="paper">Paper</option>
          <option value="rock">Rock</option>
          <option value="scissors">Scissors</option>
        </select><br><br>
        Choose your opponent<br>
        <select name="villain_choice">
          <%for (var i=0; i< villain.length; i ++){%>
            <option value=<%=villain[i].name%>> <%=villain[i].name%> </option>
          <%}%>
        </select><br><br>
        <button type = "submit" id="throw_choice_button">Throw Choice</button>
      </form>
    </div>
  <% include global/footer.ejs %>
  <script src="scripts/scripts.js"></script>
 </body>
</html>
