<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - Index</title>
  <link rel="stylesheet" href="styles/style.css">
 </head>

<body>
  <% include global/header.ejs %>

  <% if (message) { %>
  <div id="feedback" class="visible">
    <p>Wrong password!</p>
  </div>
<% } %>
<% if (message2) { %>
<div id="feedback" class="visible">
  <p>Enter username and password!</p>
</div>
<% }//does not allow empty query fields %>

  <div id="enter_name" class="visible">
    <h2>Welcome to Paper, Rock, Scissors</h2>
    <form action="/login" method="get">
      Please log in:<input type="text" id="enter_name_input" name="player_name">
      <input type="text" id="enter_password_input" name="player_password">
      <button type="submit" id = "enter_name_button">Log in/Create account</button>
    </form>
  </div>

  <% include global/footer.ejs %>
  <script src="scripts/scripts.js"></script>
 </body>
</html>
