<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - Rules</title>
  <link rel="stylesheet" href="styles/style.css">
 </head>

<body>
  <% include global/header.ejs %>

  <div id="rules">
    <h2>Rules</h2>
    The Rules of Paper/Rock/Scissors:
    <ul>
      <li>There are two players, both trying to defeat the other</li>
      <li>Both players simultaneously choose to play rock, paper, or scissors</li>
      <li>Your opponent in this game will be the infamous villain B(r)owser</li>
      <li>If both players have the same choice, the game is a draw</li>
      <li>If one player plays rock and the other plays scissors, rock wins</li>
      <li>If one player plays scissors and the other plays paper, scissors wins</li>
      <li>If one player plays paper and teh other plays rock, paper wins</li>
    </ul>
    For official Paper/Rock/Scissors competition, see the following:
    <ul>
      <li><a href="http://worldrps.com/">World RPS Society</a></li>
      <li><a href="https://www.wrpsa.com/">World RPS Association</a></li>
    </ul>
    <!--Links to PRS sites-->
  </div>
  <% include global/footer.ejs %>
  <script src="scripts/scripts.js"></script>
 </body>
</html>
