
h1 {
   font-family: 'Allan', Helvetica, Arial, sans-serif;
   font-size: 70px;
   line-height: 75px;
   text-align: center;
   text-decoration: none;
   color: #000000;
}
h1 a {
  text-decoration: none;
  color: #000000;
}
body {
  background-color: #9addf9;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 18px;
  line-height: 25px;
  margin-top: 30px;
}

div {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;
  background-color: #ffffff;
  background-color: #e6f7fe;

}

table, th, td {
   border: 1px solid black;
}
.top_row{
  background-color: #000000;
  color: #ffffff;
}
.hidden{
  display: none;
}

.visible{
  display:block;
}
